/* REGOLE GENERALI */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* color: #33475b; */
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}


.container {
  width: 80%;
  /* da cancellare */
  /* height: 700px; */
  /* background-color: pink; */
  /* da cancellare */
  margin: auto;
}

ul {
  list-style: none;
}
li{
  display: inline-block;
}

/* /REGOLE GENERALI */

/* BOTTONI */

.btn {
 /* text-transform: uppercase; */
 border-radius: 5px;
 color: white;
 padding: 5px 5px;
 text-decoration: none;
}

.btn-orange {
  background-color: #fe775a;
}

.btn-white {
  border: 1px solid #fe775a;
  color: #fe775a;
}

.btn-large {
  padding: 20px;
}

/* /BOTTONI */


/* HEADER */

header{
  width: 100%;
}

/* Per distanziare gli elementi delle liste nella parte superiore dell'header */
header div.header-top li {
  padding: 0 10px;
}

/* per inserire la riga verticale tra english e contact us */
ul.nav-fixed-left li :last-child {
  border-right: 1px solid black;
  padding-right: 15px;
}

/* per fissare la parte superiore dell'header durante lo scroll, oltre che la misure di questa */
.nav-fixed {
  width: 100%;
  height: 100px;
  background-color: #f4f9fd;
  border-bottom: 2px solid #657684;
  overflow: hidden;
  position: fixed;
  top: 0;
  /* per far si che rimanga sopra tutto, dato che il jumbotron mi andava sopra */
  z-index: 2;
}

/* entrambe le sezioni della parte superiore dell'header, hanno la stessa line height */
.nav-fixed div.container {
  line-height: 100px;
}

/* per far si che la parte inferiore non venga nascosta dalla parte fixed, gli viene dato un margine  superiore pari all'altezza della sezione precedente */
.nav-bottom {
  margin-top: 100px;
  height: 100px;
}

/* per centrare al meglio l'immagine del logo */
.logo-img img {
  margin-top: 35px;
}

/* viene impostata la line height della parte inferiore del header, dove si trova la nav */
.nav-bottom div.container {
  line-height: 100px;
}

/* viene impostata l'immagine di sottofondo del jumbotron, con queste impostazioni sono riuscito ad inserire tutta l'immagine (si potrebbe fare a meno dalla riga azzurrina da inserire in fondo al jumbotron, ma la faccio lo stesso) */
.jumbotron {
  background-image: url("../img/jumbotron.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-color: #fef5ee;
  height: 700px;
  position: relative;
  box-shadow: inset 0 10px 8px rgb(149, 149, 149, 0.2);
}

/* viene impostato il box dove viene inserito il testo nel jumbotron */
div.container .jumbo-text {
  padding-top: 30px;
  height: 80%;
  width: 50%;
  text-align: left;
}

/* qui vengono date le impostazioni al titolo principale */
.jumbo-text h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

/* qui vengono date le impostazioni al paragrafo del jumbotron */
.jumbo-text p {
  line-height: 1.8;
  margin: 30px 0px;
}

/* qui impostiamo la fascia azzurra in fondo al jumbotron, il problema è che quando apro la pagina su uno schermo più grande, la linea si sfasa di qualche pixel, stando sotto "l'orizzonte dell'immagine" */
.jumbotron::before {
  width: 100%;
  height: 81px;
  background-color: #afebe4;
  border-top: 5px solid #33475b;
  border-bottom: 3px solid #33475b;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
}

/* /HEADER */


/* MAIN */

/* PRIMA SEZIONE */
.info {
  background-color: #f4f9fd;
}

section.info .container .infobox {
  content: '';
  height: 200px;
  width: 100%;
  background-color: red;
}

/* /PRIMA SEZIONE */




/* /MAIN */
