/* REGOLE GENERALI */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}


.container {
  width: 80%;
  margin: auto;
}

ul {
  list-style: none;
}

li{
  display: inline-block;
}

.i-orange {
  color: #fe775a;
}

.bold {
  font-weight: bold;
}
/* /REGOLE GENERALI */

/* BOTTONI */

.btn {
 /* text-transform: uppercase; */
 border-radius: 5px;
 color: white;
 padding: 5px 5px;
 text-decoration: none;
}

.btn-orange {
  background-color: #fe775a;
}

.btn-white {
  border: 1px solid #fe775a;
  color: #fe775a;
}

.btn-large {
  padding: 20px;
}

.btn-blue {
  background-color: white;
  color: #32495b;
}

/* /BOTTONI */

/* STICKY */
div#sticky {
  position: fixed;
  width: 15%;
  bottom: 20px;
  right: 20px;
}

.sticky-up {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 9px 1px rgb(212, 212, 212, 0.5);
  border-radius: 5px;
  padding: 5px;
}

.img-sticky {
  position: relative;
}

.img-sticky i {
  font-size: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fe775a;
}

.text-sticky {
  padding: 10px;
  border: 1px solid #32495b;
  border-radius: 5px;
}


.icon-message {
  font-size: 70px;
  color: #fe775a;
}
/* /STICKY */


/* HEADER */

header{
  width: 100%;
}

/* Per distanziare gli elementi delle liste nella parte superiore dell'header */
header div.header-top li {
  padding: 0 10px;
}

/* per inserire la riga verticale tra english e contact us */
ul.nav-fixed-left li :last-child {
  border-right: 1px solid black;
  padding-right: 15px;
}

/* per fissare la parte superiore dell'header durante lo scroll, oltre che la misure di questa */
.nav-fixed {
  width: 100%;
  height: 100px;
  background-color: #f4f9fd;
  border-bottom: 2px solid #657684;
  overflow: hidden;
  position: fixed;
  top: 0;
  /* per far si che rimanga sopra tutto, dato che il jumbotron mi andava sopra */
  z-index: 2;
}

/* entrambe le sezioni della parte superiore dell'header, hanno la stessa line height */
.nav-fixed div.container {
  line-height: 100px;
}

/* per far si che la parte inferiore non venga nascosta dalla parte fixed, gli viene dato un margine  superiore pari all'altezza della sezione precedente */
.nav-bottom {
  margin-top: 100px;
  height: 100px;
}

/* per centrare al meglio l'immagine del logo */
.logo-img img {
  margin-top: 35px;
}

/* viene impostata la line height della parte inferiore del header, dove si trova la nav */
.nav-bottom div.container {
  line-height: 100px;
}

/* viene impostata l'immagine di sottofondo del jumbotron, con queste impostazioni sono riuscito ad inserire tutta l'immagine (si potrebbe fare a meno dalla riga azzurrina da inserire in fondo al jumbotron, ma la faccio lo stesso) */
.jumbotron {
  background-image: url("../img/jumbotron.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-color: #fef5ee;
  height: 700px;
  position: relative;
  box-shadow: inset 0 10px 8px rgb(149, 149, 149, 0.2);
}

/* viene impostato il box dove viene inserito il testo nel jumbotron */
div.container .jumbo-text {
  padding-top: 30px;
  height: 80%;
  width: 50%;
  text-align: left;
}

/* qui vengono date le impostazioni al titolo principale */
.jumbo-text h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

/* qui vengono date le impostazioni al paragrafo del jumbotron */
.jumbo-text p {
  line-height: 1.8;
  margin: 30px 0px;
}

/* qui impostiamo la fascia azzurra in fondo al jumbotron, il problema è che quando apro la pagina su uno schermo più grande, la linea si sfasa di qualche pixel, stando sotto "l'orizzonte dell'immagine" */
.jumbotron::before {
  width: 100%;
  height: 81px;
  background-color: #afebe4;
  border-top: 5px solid #33475b;
  border-bottom: 3px solid #33475b;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
}

/* /HEADER */


/* MAIN */

main {
  background-color: #f4f9fd;
}

/* PRIMA SEZIONE INFO*/

/* qui diamo le indicazioni per la sezione sotto il jumbotron: dimensioni, margini e come vogliamo che sia centrato il testo */
section.info .container .infobox {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

/* per distanziare il titolo sezione dall'immagine e dal paragrafo successivo, con distanze diverse */
.infobox h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* qui indichiamo l'interlinea del paragrafo */
.infobox p {
  line-height: 1.6;
  }

/* /PRIMA SEZIONE INFO*/


/* SECONDA SEZIONE DETAILS */

/* uprow */
/* qui diamo le indicazioni alla riga superiore di questa sezione: larghezza, colore sfondo, margine superiore, bordo ombreggiato e angoli smussati */
section.details .uprow {
  width: 100%;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 1px 1px 9px 1px rgb(212, 212, 212, 0.5);
  border-radius: 5px;
}

/* qui indichiamo al box contenente l'immagine quanto deve occupare del suo contenitore padre, la centratura del testo e con il padding abbiamo centrato il tutto */
section.details .uprow .uprow-img {
  width: 30%;
  padding: 50px 50px 70px 50px;
  text-align: center;
}

/* qui diamo delle indicazioni riguardanti l'immagine, per far si che sia come da immagine assegnata */
section.details .uprow .uprow-img img {
  height: 50%;
  width: 50%;
  margin-bottom: 40px;
}

/* qui diamo delle indicazioni riguardanti il button sottostante l'immagine */
section.details .uprow .uprow-img div {
  margin-top: 30px;
}

/* qui diamo delle indicazioni al box a destra di quello dell'immagine: larghezza del contenitore padre che deve occupare, padding per centrare il tutto e allineamento del testo interno a sinistra */
section.details .uprow .uprow-text {
  width: 70%;
  padding: 50px 50px 70px 50px;
  text-align: left;
}

/* WARNING qui indichiamo che il titolo deve staccarsi di quel padding dal paragrafo sottostante */
section.details .uprow .uprow-text h2 {
  padding: 30px 0;
}

/* qui indichiamo l'interlinea del paragrafo e il padding inferiore, per staccarlo dal contenuto successivo */
section.details .uprow .uprow-text p {
  line-height: 1.8;
  padding-bottom: 20px;
}

/* qui diamo le indicazioni al titoletto, lo vogliamo in maiuscolo e con un padding inferiore */
section.details .uprow .uprow-text h3 {
  text-transform: uppercase;
  padding-bottom: 30px;
}

/* qui creiamo la linea che sta a fianco del titoletto, la larghezza è stata assegnata provando varie misure */
section.details .uprow .uprow-text h3::after {
  content: '';
  width: 70%;
  margin-left: 40px;
  border: 1px solid #33475b;
  display: inline-block;
  vertical-align: middle;
}

/* qui utiliziamo la lista con dei font, la lista noon doveva essere in verticale, ma svilupparsi in orizzontale */
section.details .uprow .uprow-text ul li {
  padding-right: 20px;
}

/* /uprow */

/* downrow */
/* qui indichiamo la larghezza del contenitore che conterrà le 3 colonne identiche, oltre che un padding inferiore per separare la seconda sezione dalla terza */
.downrow {
  width: 100%;
  margin-bottom: 30px;
}

/* le prossime 2 regole servono a creare 3 box con larghezza identica, quindi diamo al box centrale un margine sx e dx, considerando questo margine, di conseguenza impostamo la larghezza dei box */
.downrow-box {
  width: 30%;
  background-color: white;
  padding: 30px;
  text-align: center;
  box-shadow: 1px 1px 9px 1px rgb(212, 212, 212, 0.5);
  border-radius: 5px;
}

/* qui utilizziamo un id per dare alla colonna centrale un margine a destra e sinistra, questo margine va sottratto alla larghezza del contenitore padre se vogliamo avere le colonne identiche */
#centercol {
  margin: 0 5%;
}

/* in questa sezione (downrow) abbiamo delle liste che non devono essere inline block come quelle presenti nella parte superiore della pagina, perciò inseriamo la seguente regola */
section.details div.downrow .downrow-box li {
  display: block;
}

/* WARNING qui ho dovuto dare delle grandezze in pixel uniche per tutte e tre le immagini delle colonne, data la diversa dimensione delle immagini originali */
section.details div.downrow .downrow-box img {
  width: 120px;
  height: 120px;
}

/* WARNING qui diamo un padding inferiore ai tre titoli delle colonne */
section.details div.downrow .downrow-box h2 {
  padding-bottom: 30px;
}

/* qui si imposta l'interlinea dei paragrafi delle colonne, oltre che un ulteriore padding, per centrare ulteriormente il tutto */
section.details div.downrow .downrow-box p {
  line-height: 1.8;
  padding: 0 15px;
}

/* qui diamo un padding superiore ed inferiore diversi, per creare il più possibile l'effetto come assegnato */
section.details div.downrow .downrow-box hr {
  margin: 60px 0 30px 0;
}

/* qui vogliamo che il titoletto sia in maiuscolo, oltre che ad un padding per separarlo dalla lista successiva */
section.details div.downrow .downrow-box h3 {
  text-transform: uppercase;
  padding-bottom: 30px;
}

/* qui indichiamo che gli elementi della lista, contariamente al resto del box devono essere allineati a sinistra, iltre al padding per separarla dal bottone sottostante */
section.details div.downrow .downrow-box ul {
  text-align: left;
  padding-bottom: 60px;
}

/* /downrow */

/* /SECONDA SEZIONE DETAILS */

/* TERZA SEZIONE LEARN */

section.learn {
  /* per impostare uno sfondo sfumato */
  background-image: linear-gradient(to right, #00abb7 , #00baa8);
  color: white;
}

/* inizio prima righa della sezione learn */
section.learn .firstrow {
  width: 100%;
  text-align: center;
  padding: 40px 0;
}

/* WARNING qui indichiamo l agrandezza del font e il padding sottostante al titolo della sezione */
section.learn .firstrow h2 {
  padding-bottom: 30px;
  font-size: 30px;
}

/* qui indichiamo l'interlinea e la grandezza del font del paragrafo */
section.learn .firstrow p {
  line-height: 1.8;
  font-size: 16px;
}
/* fine prima riga della sezione learn */

/* inizio seconda e terza riga della sezione learn */

/* qui diamo la grandezza delle 2 row utilizzate per creare la tabella */
.otherrow {
  width: 100%;
  padding-bottom: 40px;
}

/* qui utilizziamo la stessa classe per le 2 row che formano la tabella */
section.learn .lastrow {
  width: 100%;
}

/* qui utilizziamo la stessa classe per tutti i box che formano la tabella */
section.learn .lastrow .learnbox {
  width: 25%;
  padding: 20px 0;
  text-align: center;
}

/* qui indichiamo che solo il primo figlio di lastrow deve avere il margine basso (la riga che separa le ultime 2 row)*/

.otherrow div.lastrow:first-child {
  border-bottom: 1px solid white;
}

/* qui indichiamo che tutti i box di lastrow abbiano il bordo destro, tranne l'ultimo box di entrambe le righe */
.otherrow .lastrow div.learnbox:not(:last-child) {
  border-right: 1px solid white;
}

/* qui diamo un padding inferiore a tutte le immagini-logo della tabella */
section.learn .otherrow .lastrow .learnbox img {
  padding-bottom: 20px;
}

/* qui diamo un padding inferiore a tutte la sezioni contenenti il numero, nalla parte centrale di oggi box presente nella tabella */
section.learn .otherrow .lastrow .learnbox .learnbox-number {
  padding-bottom: 20px;
}

/* WARNING i comandi successivi mi permettono di mettere il + di fianco al numero, se li considero 2 oggetti diversi, dunque non mettendo il carattere speciale di fianco al numero nell'html */
section.learn .otherrow .lastrow .learnbox .learnbox-number h2 {
  display: inline;
  font-size: 40px;
  vertical-align: middle;
}

section.learn .otherrow .lastrow .learnbox .learnbox-number p {
  display: inline;
  vertical-align: middle;
  font-size: 30px;
}

/* qui diamo una grandezza a tutti i paragrafi della tabella, è stato dato questo valore per raggiungere il più possibile l'immagine assegnata */
section.learn .otherrow .lastrow .learnbox p {
  font-size: 13px;
}

/* qui sistemiamo l'immagine del primo e dell'ultimo box dell'ultima riga, dato che hanno dimensioni diverse dalle altre immagini, gli viene data dunquela stessa immagine di tutte le altre */
.fiximage {
  height: 53px;
}

/* fine seconda e terza riga della sezione learn */

/* /TERZA SEZIONE LEARN */

/* INIZIO QUARTA SEZIONE GROWING */

/* qui diamo una larghezza al contenitore che contiene gli elementi della prima parte della terza sezione */
section.grow .grow-first {
  width: 100%;
}

/* qi diamo una larghezza alla seconda parte della terza sezione */
section.grow .grow-second {
  width: 100%;
  padding: 50px 0;
}

/* qui diamo la larghezza del contenitore a sinistra delle 8 immagini, il padding è stato impostato dopo alcuni tentativi per avere un risultato il più vicino possibile all'immagine assegnata */
section.grow .grow-first-left {
  width: 40%;
  padding: 5% 10%;
  line-height: 1.8;
  text-align: center;
}

/* qui indichiamo la larghezza del contenitore che contiene le 8 immagini logo, è stata impostata un 20% più grande dell'altro contenitore presente nella stessa row */
section.grow div.grow-first-right {
  width: 60%;
}

/* qui impostamo grandezza e margine inferiore del numero grosso */
section.grow div.grow-first-left h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

/* qui indichiamo che ogni contenitore dell'immagine deve occupare un quarto della relativa riga padre */
.linebox div {
  width: 25%;
  padding-top: 40px;
}

/* WARNING qui ho dovuto impostare una larghezza precisa alle immagini, oltre che i margini superiori e destro per rendere il risultato il più vicino possibile all'immagine assegnata */
section.grow div.grow-first-right div.linebox img {
  width: 50%;
  margin-top: 40px;
  margin-right: 20px;
}

/* qui indichiamo la larghezza dei 2 contenitori della secona parte della terza sezione, oltre che l'interlinea presente in esso e la grandezza del font */
.grow-second .growing {
  width: 50%;
  line-height: 1.8;
  font-size: 20px;
}

/* WARNING qui diamo una grandezza del font specifica per il titolo della sezione */
.grow-second .growing h2 {
  font-size: 40px;
}

/* qui diamo un padding laterale al paragrafo della sezione */
.grow-second .growing p {
  padding: 30px 0;
}

/* qui diamo una larghezza precisa al contenitore, oltre che indicare cheil contenuto lo vogliamo alla destra di esso*/
.grow-second .down-img {
  width: 50%;
  text-align: right;
}

/* qui, per tentativi, si è data una larghezza all'immagine, per rendere il risultato simile il più possibile all'immagine assegnata */
.grow-second .down-img img {
  width: 60%;
}
/* /FINE QUARTA SEZIONE GROWING */

/* /MAIN */

/* FOOTER */
/* qui indichiamo il colore specifico del background dell'intero footer, oltre all'indicazione che qualsiasi testo presente al suo interno deve essere bianco */
footer {
  background-color: #32495b;
  color: white;
}

/* qui distanziamo il footer dalla quarta sezione */
.footer-bottom {
  padding-bottom: 30px;
}

/* qui impostiamo per ogni colonna del footer una larghezza in percentuale uguale */
.footer-top .colonna {
  width: 25%;
  padding: 30px 0;
}

/* qui, dobbiamo impostare che le liste dell'intero footer si sviluppino in verticale e non in orizzontale, inoltre con il padding diamo una separazione maggiore agli  elementi della lista */
footer .footer-top .colonna ul li {
  display: block;
  padding-bottom: 20px;
}

/* qui viene utilizzata una lista per fissare le icone social sotto il bottone, dobbiamo tornate a specificare che vogliamo uno sviluppo orizzontale della lista. inoltre specifichiamo la grandezza del font, per ingrandirle, ed un padding destro per distanziarle  */
footer .footer-top div.colonna div.social-list ul li {
  display: inline;
  font-size: 20px;
  padding-right: 25px;
}

/* qui indichiamo che i linguaggi li vogliamo in centro, oltre che al padding sueriore ad inferiore necessari per distanziare questo elemento dagli altri presenti nel footer */
.footer-language ul {
  text-align: center;
  padding: 20px 0;
}

/* qui impostiamo un padding destro per distanziare le scritte delle lingue */
.footer-language ul li {
  padding-right: 50px;
}

/* qui impostiamo la larghezza dell'ultimo contenitore del footer, olre che un padding verticale per distanziarlo dagli altri elementi e dalla fine della pagina */
.final-footer {
  width: 100%;
  padding: 30px 0;
}

/* qui diamo le larghezze degli ultimi 2 contenitori del footer */
.info-hubspot {
  width: 50%;
}

/* qui oltre alla larghezza dell'altro contenitore, viene impostato ulteriormente che in questo il testo deve essere allineato a sinistra, come da immagine assegnata */
.legal {
  width: 50%;
  text-align: right;
}

/* per rappresentare le scritte riguardanti le policy legali è stata utilizzata una lista sviluppata in orizzontale, il padding serve a distanziare gli elementi della lista */
.legal li {
  padding-right: 30px;
}

/* /FOOTER */
